<!DOCTYPE html>
<html>

<head>
    <title>Matches</title>
</head>

<body>
    <h1>Matches</h1>
    <ul>
        <% matches.forEach(match=> { %>
            <li>
                <h2>
                    <%= match.championshipTitle %>
                </h2>
                <p>
                    <%= match.teamA %> vs <%= match.teamB %>
                </p>
                <p>Time: <%= match.matchTime %>
                </p>
                <p>Result: <%= match.matchResult %>
                </p>
            </li>
            <% }); %>
    </ul>
</body>

</html>